@import "mixin";


.body_icon{
    width:990px;
    height:628px;
    margin:0 auto;
    
    .logo{
        width:990px;
        height:85px;
        .reg_logo{
            padding-top:25px;
            a{
                float: left;
                background: url(../img/index/login-logo.png) 50% no-repeat;
                width: 260px;
                height: 60px;
            }
            span{
                float: left;
                height:50px;
                line-height: 50px;
                font-family: Microsoft YaHei;
                font-size: 20px;
                color: #666;
                margin:10px 0 0 20px;
            }
        }
    }
    .wrap{
        width:990px;
        height:543px;
        
        .wrap_ready{
            height:30px;
            padding-top:5px;
            width:990px;
            text-align: right;
            span{
                float: right;
                height:20px;
                line-height: 20px;
            }
            a{
                height:20px;
                line-height: 20px;
                float: right;
                padding: 0 5px;
                margin-left: 5px;
                border-radius: 3px;
                background: red;
                color: #fff;
            }
        }
        .wrap_body{
            width:908px;
            height:426px;
            border: 1px solid #ccc;
            padding: 40px;
            overflow: hidden;
            background: #fcfcfc;
            .left{
                float:left;
                .reg_item{
                    height:40px;
                    .reg_span{
                        width:100px;
                        height:40px;
                        line-height: 40px;
                        text-align: right;
                        padding-right:10px;
                        float: left;
                        span{
                            color:#F03838;
                        }
                    }
                    .input{
                        width:298px; 
                        height:38px;
                        float: left;
                        border: 1px solid #ccc;
                        height: 18px;
                        line-height: 18px;
                        padding: 10px;
                    }
                    .icheck{
                        width:160px;
                    }
                    .pcheck{
                        width:188px;
                    }
                    .check_img{
                        float: left;
                        height:28px;
                        width:88px;
                        padding:6px 5px;
                    }
                    .next{
                        float: left;
                        line-height: 40px;
                        color: #06c;
                    }
                    .get_code{
                        float: left;
                        height:38px;
                        width:98px;
                        border:1px solid #DDDDDD;
                        background: #f8f8f8;
                        margin-left:10px;
                        line-height: 38px;
                        text-align: center;
                        color:#666666;
                    }
                    
                    .pass{
                        float: left;
                        background: url(../img/shopping/login-bg.png) 0 -82px no-repeat;
                        width: 16px;
                        height: 16px;
                        margin:12px 0 0 10px;
                        display: none;
                    }
                }
                .reg_tips{
                    height:20px;
                    width:500px;
                    .error{
                       height:20px;
                       color:#F03838;
                       display: none; 
                       padding-left:110px;
                       em{
                            float: left;
                            background: url(../img/shopping/login-bg.png) 0 -56px no-repeat;
                            width: 16px;
                            height: 16px;
                            margin:2px 6px 0 0;
                       }
                       span{
                           height:20px;
                           line-height: 20px;
                           float: left;
                       }
                    }
                    .tip{
                        height:20px;
                        padding-left:110px;
                        color:#999999;
                        line-height: 20px;
                        display: none;
                    }
                }
                label{
                    margin-left: 110px;
                    padding-top:5px;
                    height: 24px;
                    line-height: 24px;
                    display: block;
                    font-size: 12px;
                    input{
                        float: left;
                        margin-right: 5px;
                        margin-top:6px;
                    }
                    span{
                        float: left;
                        height:24px;
                        line-height: 24px;
                        font-size: 12px;
                    }
                    a{
                        float: left;
                        line-height: 24px;
                        font-size: 12px;
                        color: #06c;
                    }
                }
                .res_btn{
                    cursor: pointer;
                    width: 223px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    background: #e63c3f;
                    margin: 10px 0;
                    margin-left: 110px;
                    color: #fff;
                    font-size: 18px;
                    font-family: 微软雅黑;
                }
            }
            .right{
                float:right;
                width:365px;
                height:285px;
                margin-top:50px;
                background: url(../img/signin/cart-login.jpg) top no-repeat;
            }
        }
    }
}
